name: CI/CD Pipeline

on:
  push:
    branches:
      - '*'  # CI para todas as branches
  pull_request:
    branches:
      - '*'  # CI para todos os PRs

jobs:
  # ----------- CI -----------

  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Setup .NET 8.x
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '8.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build the project
        run: dotnet build --configuration Release

      - name: Run tests
        run: dotnet test --configuration Release

  # ----------- CD -----------

  cd:
    runs-on: ubuntu-latest
    needs: ci
    if: github.ref == 'refs/heads/main'  # Só roda na branch main
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup .NET 8.x
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '8.x'

      - name: Publish the project
        run: dotnet publish -c Release -o ./publish

      - name: Create deploy folder
        run: |
          mkdir -p ./deploy_folder
          ls ./deploy_folder  # Verifica a criação

      - name: Copy files to deploy folder
        run: |
          cp -r ./publish/* ./deploy_folder/

      - name: List files in deploy folder
        run: ls ./deploy_folder  # Verifica os arquivos copiados
